.father {
   padding: 50px 50px 50px 50px;
}

p {
  text-align: center;
  color: #656868;
  font-size: 1.2em;
  line-height: 1.6em;
}

.danger-button {
   width: 128px;
   margin-left: -20px;
}

.submit-button {
   width: 168px;
   margin-left: 20px;
}

.buttons {
   margin-top: 40px;
}