<section class="container animate__animated animate__fadeIn">
  <div class="row">
    <div class="col-sm-12 container-mobile">

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p class="text text-info-step">
          Preencha abaixo os informações solicitadas para dar início ao seu cadastro da Conta Dotz: <br>
          *Obrigatório
        </p>
        <div class="row">
          <div class="col-sm-12">

            <input style="display: none;" maxlength="256" ng-class="{'diabled-class': diabled-class}" disabled="true"
              formControlName="identifier" [validation]="false" [mask]="inputMask" class="cpf-input" id="cpf-input"
              placeholder="CPF/CNPJ">

            <h1 class="title-3">Dados Pessoais</h1>

            <div class="form-group" [ngClass]="{'error': !form.get('name').valid}">
              <label class="form-label" for="">Nome completo*</label><br>
              <input [readonly]="isMothernameStep()" maxlength="256" formControlName="name" id="name"
                class="form-control onbording-input long name" placeholder="Nome completo">
              <!-- <dharma-input-check [control]="form.get('name')"></dharma-input-check> -->
              <span class="msgerror">Preencha seu nome completo.</span>
            </div>

            <div class="form-group" [ngClass]="{'error': !form.get('birthDate').valid}">
              <label class="form-label" for="">Data de nascimento*</label><br>
              <div class="form-row">
                <input [readonly]="isMothernameStep()" maxlength="256" [dropSpecialCharacters]="false" id="birthDate"
                  formControlName="birthDate" [validation]="false" mask="00/00/0000"
                  class="form-control onbording-input short birthdate" placeholder="99/99/9999">
                <button type="submit" *ngIf="!isMothernameStep()"
                  [ngClass]="{'active': form.get('name').valid && form.get('birthDate').valid && !isMothernameStep()}"
                  class="button-gray" [disabled]="!form.get('name').valid && !form.get('birthDate').valid"
                  style="margin: 0 0 0 10px;">Validar</button>
              </div>
              <!-- <dharma-input-check [control]="form.get('birthDate')"></dharma-input-check> -->
              <span class="msgerror">{{form.get('birthDate').validator('birthDate').isValidDate}}</span>
            </div>

          </div>
        </div>
      </form>

      <form [formGroup]="formMotherName" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="form-label" for="">Nome da mãe*</label><br>
          <input readonly class="form-control onbording-input long" type="text" placeholder="Selecione o nome da sua mãe" *ngIf="!isMothernameStep()">
          <select placeholder="" class="form-control onbording-input long" formControlName="selected_mothername" *ngIf="isMothernameStep()">
            <option *ngFor="let i of mothernamelist" [value]="i.value" [selected]="i.selected">{{i.key}}</option>
          </select>

          <span class="msgerror">Selecione o nome da sua mãe.</span>
        </div>

        <div class="btn-group">
          <button type="submit" [ngClass]="{'active': formMotherName.get('selected_mothername').valid}"
            class="button-gray" [disabled]="!formMotherName.get('selected_mothername').valid">Continuar</button>
        </div>
        <br><br>
      </form>

    </div>
  </div>
</section>



<!-- <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
      <div class="col-sm-12">

          <div class="text-center">
              <div class="form-group">
                  <p class="light-orange bold ">Validação do CPF/CNPJ</p>
                  <input maxlength="256" ng-class="{'diabled-class': diabled-class}" disabled="true" formControlName="identifier" [validation]="false" [mask]="inputMask" class="cpf-input" id="cpf-input" placeholder="CPF/CNPJ">
              </div>


              <div class="form-group">
                  <p class="light-gray bold">Dados Pessoais</p>
                  <input maxlength="256" formControlName="name" id="name" class="name" placeholder="Nome">
                  <dharma-input-check [control]="form.get('name')"></dharma-input-check>
              </div>

              <div class="form-group">
                <p class="light-gray bold">Email</p>
                <input maxlength="256" formControlName="email" id="email" class="email" placeholder="Email">
                <dharma-input-check [control]="form.get('email')"></dharma-input-check>
              </div>

              <div class="form-group">
                <p class="dark-gray">Data de nascimento</p>
                <input maxlength="256" [dropSpecialCharacters]="false" id="birthDate" formControlName="birthDate" [validation]="false" mask="00/00/0000" class="birthdate" placeholder="99/99/9999">
                <dharma-input-check [control]="form.get('birthDate')"></dharma-input-check>
            </div>
          </div>

          <dharma-validator *ngIf="formSubmitted && form.status === 'INVALID'" [form]="form" class="danger"></dharma-validator>

          <button type="submit" class="btn btn-primary submit-button">Continuar</button>
      </div>
  </div>
</form> -->
