<!-- <dharma-ui-alert></dharma-ui-alert> -->
<!-- <dharma-ui-alert-summary></dharma-ui-alert-summary> -->
<!-- <div class="row">
  <div class="box-container">
    <app-cpf-identifier-form
      (onFormSubmit)="onSubmit($event)">
    </app-cpf-identifier-form>
  </div>
</div> -->



<dharma-ui-alert></dharma-ui-alert>
<dharma-ui-alert-summary></dharma-ui-alert-summary>

<section class="container-full home-banner">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img src="assets/images/kv_LP_tombamento_saro 1.png" alt="" class="home-banner-img">
      </div>
      <div class="col-sm-6 home-banner-form">
        <div class="home-banner-form-box">
          <app-cpf-identifier-form (onFormSubmit)="onSubmit($event)">
          </app-cpf-identifier-form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container-full home-features">
  <div class="container bg-mobile">
    <h1 class="title-1">Olha quanta coisa dá pra fazer:</h1>
    <!-- <h2 class="title-2">Você faz pagamentos, compras e ganha muitos Dotz que viram dinheiro na conta.</h2> -->
  </div>
  <div class="container bg-mobile">
    <ul class="list-features">
      <li>
        <img src="assets/images/mov-money.png" alt="ganhe dotz" width="58">
        <p class="text-small-orange">Adicionar<br>
          e movimentar<br>
          seu dinheiro.</p>
      </li>
      <li>
        <img src="assets/images/ganhar-dotz.png" alt="ganhe dotz" width="51">
        <p class="text-small-orange">
          Ganhar Dotz <br>
          em diversas <br>
          movimentações.
        </p>
      </li>
      <li>
        <img src="assets/images/cesta.png" alt="" width="53">
        <p class="text-small-orange">Comprar <br>
          online direto <br>
          pelo App.</p>
      </li>
      <li>
        <img src="assets/images/pagar-contas.png" alt="" width="48">
        <p class="text-small-orange">Pagar contas<br>
          e compras<br>
          via App.</p>
      </li>
      <li>
        <img src="assets/images/dotz.png" alt="" width="68">
        <p class="text-small-orange">Ganhar Dotz <br>
          em recarcargas <br>
          as compras.</p>
      </li>
      <li>
        <img src="assets/images/dotz.png" alt="" width="68">
        <p class="text-small-orange">Ganhar Dotz <br>
          em recargas <br>
          de celular<br>
          e vouchers.</p>
      </li>

      <li>
        <img src="assets/images/converter-dotz.png" alt="" width="42">
        <p class="text-small-orange">Converter <br>
          seus Dotz<br>
          em dinheiro.</p>
      </li>
      <li>
        <img src="assets/images/ofertas-descontos.png" alt="" width="57">
        <p class="text-small-orange">Acessar ofertas <br>
          e descontos<br>
          especiais.</p>
      </li>
      <li>
        <img src="assets/images/lojas-dotz.png" alt="" width="63">
        <p class="text-small-orange">Acessar ofertas <br>
          e descontos<br>
          especiais.</p>
      </li>
      <li>
        <img src="assets/images/cartao-dotz.png" alt="" width="42">
        <p class="text-small-orange">Pedir o seu <br>
          Cartão Dotz<br>
          sem anuidade.</p>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="text-home-end-page">
      <h1 class="title-3">Brotam Dotz que viram dinheiro, pizza e até conta paga pra salvar o seu mês!</h1>
    </div>
  </div>
</section>
