<div class="row">
  <div class="box-container">
    <div class="father">
      <p class="main-text orange">
        Central de Atendimento
      </p>
      
      <p>Entre em contato com a Central de Atendimento para tirar suas dúvidas</p>
      
      <p>Telefones</p>
      <p>Principais capitais e região metropolitana:</p>
      
      <p class="strong">ligue para 4007 1339</p>
      
      <p>Demais localidades:</p>
      <p class="strong">ligue para 0800 601 1339</p>
      
      <p>Horário de atendimento:</p>
      <p>de segunda a domingo, das 8h às 22h.</p>
    </div>

    <button (click)="back()" id="submit-button" type="button" class="btn btn-primary submit-button">Voltar</button>

  </div>
</div>