<span class="orange-btn-white" (click)="onClick(0)" id="button1">
  {{ virtualKeyboard[0] }} ou {{ virtualKeyboard[1] }}
</span>

<span class="orange-btn-white" (click)="onClick(1)" id="button2">
  {{ virtualKeyboard[2] }} ou {{ virtualKeyboard[3] }}
</span>

<span class="orange-btn-white" (click)="onClick(2)" id="button3">
  {{ virtualKeyboard[4] }} ou {{ virtualKeyboard[5] }}
</span>

<span class="orange-btn-white" (click)="onClick(3)" id="button4">
  {{ virtualKeyboard[6] }} ou {{ virtualKeyboard[7] }}
</span>

<span class="orange-btn-white" (click)="onClick(4)" id="button5">
  {{ virtualKeyboard[8] }} ou {{ virtualKeyboard[9] }}
</span>


<div class="text-center" *ngIf="showPreview" style="margin-top: 20px">

  <div class="container" style="width: 320px">
    <div class="row">
      <div class="col-sm-12 col-sm-offset-2" style="height: 52px;">
        <div class="confirmation_code split_input large_bottom_margin" data-multi-input-code="true">
          <div class="confirmation_code_group">
            <div class="split_input_item input_wrapper"><input id="password-input-1" type="password" class="inline_input" maxlength="1" [(ngModel)]="preview[0]"></div>
            <div class="split_input_item input_wrapper"><input id="password-input-2" type="password" class="inline_input" maxlength="1" [(ngModel)]="preview[1]"></div>
            <div class="split_input_item input_wrapper"><input id="password-input-3" type="password" class="inline_input" maxlength="1" [(ngModel)]="preview[2]"></div>
            <div class="split_input_item input_wrapper"><input id="password-input-4" type="password" class="inline_input" maxlength="1" [(ngModel)]="preview[3]"></div>
            <div class="split_input_item input_wrapper"><input id="password-input-5" type="password" class="inline_input" maxlength="1" [(ngModel)]="preview[4]"></div>
            <div class="split_input_item input_wrapper"><input id="password-input-6" type="password" class="inline_input" maxlength="1" [(ngModel)]="preview[5]"></div>
          </div>
        </div>

      </div>

    </div>
  </div>

</div>