.father {
    padding: 50px 50px 10px 50px;
  }
  
  .submit-button {
    width: 150px;
    margin-top: 30px;
  }
  
  p {
    text-align: center;
    color: #656868;
    font-size: 1.2em;
    line-height: 1.6em;
  }
  
  .form-group {
    margin-top: 30px;
  }
  