p {
  text-align: center;
  color: #656868;
  font-size: 1.2em;
  line-height: 1.6em;
}

.unlock-account-btn {
  margin-top: 20px;
  padding: 5px 30px 5px 30px;
  font-size: 18px;
  cursor: pointer !important;
}

.orange {
  color: #f7941d !important;
  font-size: 24px;
  font-weight: bold;
}

.father {
  padding: 50px 50px 50px 50px;
}

.strong {
  font-weight: bold;
}
