<div class="father">
  <p class="main-text orange">
    Pedido Negado!
  </p>
  <p>
    Poderão participar do Programa Dotz, na condição de Titulares, as pessoas fisicas capazes ou relativamente capazes,
    maiores de 16 anos, regularmente inscritas no cadastro de pessoa física (CPF), residentes e domiciladas no Brasil,
    bem como as pessoas jurídicas regularmente inscritas no cadastro de pessoas jurídicas (CNPJ), sediadas no Brasil.
  </p>
  <p>
    A participação de relativamente incapazes deverá ser assistida pelos seus representantes legais, na forma de
    legislação vigente.
  </p>
  <p>
    Também poderão participar do Programa Dotz, as pessoas físicas descritas no item acima que sejam participantes de
    outros Programas eventualmente incorporados ou migrados, em razão de parcerias específicas da CBSM com outras
    empresas. Nestes casos, a participação deverá observer, além das regras do Programa Dotz, eventuais cláusulas e
    condições específicas da incorporação, migração em razão da parceria estabelecida.
  </p>
  <div style="margin-top: 40px;">
    <p>
    Caso tenha alguma dúvida ou problema, entre em contato com a nossa central de atendimento.<br/>
    </p>
    <a [href]="helpDeskUri">
      <button id="unlock-account-btn" type="button" class="btn btn-primary submit-button unlock-account-btn">Central de Atendimento</button>
    </a>
  </div>
</div>