<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-sm-12 text-center">

      <p class="title">Esqueci minha senha</p>
      <p class="sub-title">Escolha uma forma para trocar sua senha</p>
    </div>


    <div class="col-sm-12 identifiers text-center">
      <div class="form-check" *ngFor="let identifier of data">
        <label>
          <input type="radio" name="identifier" id="{{ identifier?.option_id }}-radio" [value]="identifier?.option_id" formControlName="identifier"> 
          <span class="label-text">
            {{ identifier?.value }}
          </span>
        </label>
      </div>
    </div>

    <div class="col-sm-12 text-center">
      <dharma-validator *ngIf="formSubmitted && form.status === 'INVALID'" [form]="form" class="danger">
      </dharma-validator>
    </div>

    <div class="col-sm-12 text-center">
      <button [disabled]="!isPasswordConfirmed && form.status === 'INVALID'" type="submit"
        class="btn btn-primary submit-button">Recuperar senha</button>
    </div>
  </div>
</form>

<form (ngSubmit)="onSubmitNotRecognize()">
  <div class="row">
    <div class="col-sm-12 text-center">
      <div class="no-recognize">
        <p class="sub-title no-recognize">
          Não reconhece nenhum deles?
        </p>
        <p class="security-questions-btn" (click)="onSubmitNotRecognize()">Trocar dados</p>
      </div>
    </div>
  </div>
</form>
