@import '~src/app/shared/styles/fonts';

.title {
    font-family: 'Hurme Bold';
    color: #FFA101;
    font-size: 45px;
}

.sub-title {
    color: #2D2D2D;
    font-size: 20px;
}

.identifiers {
    padding: 0px 200px 0px 333px;
}

.security-questions-btn {
    font-family: 'Hurme Bold';
    color: #FFA101;
    cursor: pointer;
    font-size: 20px;
}

.no-recognize {
    margin-top: 30px;
}

.form-check {
    text-align: left;
    margin-top: 20px;
}

input {
    width: 75px;
    margin-top: -4px;
    position: absolute;
    margin-left: -67px;
    cursor: pointer;
}

label {
    margin-top: 5px;
}

.submit-button {
    margin-top: 30px;
}

@media(max-width: 800px) {
    .identifiers {
        padding: 0px 100px 0px 120px;
    }
}

@media(max-width: 500px) {
    .title {
        font-size: 32px;
    }
    .sub-title {
        font-size: 18px;
    }
    .identifiers {
        padding: 0px 100px 0px 90px;
    }
}