<section class="container animate__animated animate__fadeIn">
  <div class="row">
    <div class="col-sm-12 container-mobile">
      <form action="" [formGroup]="form">
        <p class="text text-info-step">
          Cadastre sua senha de acesso do app e do site. <br>
          Caso você já tenha, é só digitá-la abaixo. Se você não lembra dela, não tem problema. Basta cadastrar uma <br>
          nova e iremos substituir automaticamente. <br>
          *Obrigatório
        </p>
        <div class="form-group" style="text-align: center;">
          <input id="input-password-1" (keyup)="changeInputCode($event.target.value, 1)" type="password" maxlength="1"
            class="input-password" (focus)="$event.target.select()">
          <input id="input-password-2" (keyup)="changeInputCode($event.target.value, 2)" type="password" maxlength="1"
            class="input-password" (focus)="$event.target.select()">
          <input id="input-password-3" (keyup)="changeInputCode($event.target.value, 3)" type="password" maxlength="1"
            class="input-password" (focus)="$event.target.select()">
          <input id="input-password-4" (keyup)="changeInputCode($event.target.value, 4)" type="password" maxlength="1"
            class="input-password" (focus)="$event.target.select()">
          <input id="input-password-5" (keyup)="changeInputCode($event.target.value, 5)" type="password" maxlength="1"
            class="input-password" (focus)="$event.target.select()">
          <input id="input-password-6" (keyup)="changeInputCode($event.target.value, 6)" type="password" maxlength="1"
            class="input-password" (focus)="$event.target.select()">
        </div>
        <div class="box-confirm-password">
          <p class="text"><b>Sua senha:</b></p>
          <ul>
            <li>Deve conter 6 dígitos numéricos</li>
            <li>Não pode ter números sequenciais (Ex: 123456)</li>
            <li>Não pode ser sua data de nascimento</li>
            <li>Não pode ser o número do seu celular</li>
          </ul>
        </div>
        <br><br>
        <div class="btn-group">
          <app-dharma-ui-button [enable]="form.valid" [form]="form" type="submit" class="button-gray sm"
            title="Continuar" (click)="onSubmit()">
          </app-dharma-ui-button>
        </div>
        <br><br>
      </form>
    </div>
  </div>
</section>
