<section class="container container-mobile">

  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="form">
        <p class="text" style="margin-bottom: 41px;">
          Para sua segurança, precisamos confirmar sua identidade. <br>
          Por isso, vamos fazer algumas perguntas pessoais e sobre suas últimas movimentações. <br>
          *Obrigatório
        </p>
        <mat-horizontal-stepper (selectionChange)="onPageChange($event)" linear #stepper>
          <mat-step *ngFor="let question of form.get('questions').controls; let index = index">
            <h5 class="title-question-numerator">Pergunta {{index + 1}} de {{form.get('questions').length}}</h5>

            <h5 class="title-question">{{ question.get('question').value }}</h5>

            <div *ngFor="let item of question.get('answers').value">
              <input [formControl]="question.get('answer')" (change)="onSelect($event)" class="input-question"
                name="question" type="radio" value="{{item}}" id="{{item}}" checked="">
              <label class="label-question" for="{{item}}">
                <span></span>
                <p>{{item}}</p>
              </label>
            </div>
            <br><br><br><br>
            <div class="form-group">
              <div>
                <button class="button-gray" [disabled]="index < 1" [ngClass]="{'active':shoWButton }"
                  (click)="prev()">Voltar</button>
              </div>
              <div>
                <button class="button-gray" [ngClass]="{'active':shoWButton}" (click)="onSubmit()">Continuar</button>
              </div>
            </div>
            <br><br><br><br>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </div>
  </div>
</section>