<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-sm-12">
      <img class="logo" src="assets/images/logo-dotz.png">


      <p class="title gray bold md-font access-account-text">Olá! Para ser um Cliente Dotz, é só preencher os dados abaixo.
          Vamos lá?</p>

      <div class="text-center">
        <div class="form-group">
          <p class="orange bold md-font cpf-validation">Validação do CPF/CNPJ</p>
          <input maxlength="256" ng-class="{'diabled-class': diabled-class}" disabled="true" formControlName="identifier"
            [validation]="false" [mask]="inputMask" class="cpf-input" id="cpf-input" placeholder="CPF/CNPJ">
        </div>

        <div class="form-group">
          <p class="light-gray bold">Nome Fantasia</p>
          <input maxlength="256" formControlName="fantasyName" id="fantasyName" class="name" placeholder="Nome Fantasia">
          <dharma-input-check [control]="form.get('fantasyName')"></dharma-input-check>
        </div>

        <div class="form-group">
          <p class="light-gray bold">Razão Social</p>
          <input maxlength="256" formControlName="companyName" id="companyName" class="name" placeholder="Razão Social">
          <dharma-input-check [control]="form.get('companyName')"></dharma-input-check>
        </div>        

        <div class="form-group">
          <p class="light-gray bold">Inscrição Estadual</p>
          <input maxlength="256" formControlName="stateRegistration" id="stateRegistration" class="name" placeholder="Inscrição Estadual">
          <dharma-input-check [control]="form.get('stateRegistration')"></dharma-input-check>
        </div>

        <div class="form-group">
          <p class="light-gray bold">Web Site</p>
          <input maxlength="256" formControlName="webSite" id="webSite" class="name" placeholder="Web Site">
          <dharma-input-check [control]="form.get('webSite')"></dharma-input-check>
        </div> 

        <div class="form-group">
          <p class="dark-gray">Data de Abertura</p>
          <input maxlength="256" [dropSpecialCharacters]="false" id="openingDate" formControlName="openingDate" [validation]="false"
            mask="00/00/0000" class="birthdate" placeholder="99/99/9999">
          <dharma-input-check [control]="form.get('openingDate')"></dharma-input-check>
        </div>

        <div class="form-group">
          <p class="light-gray bold">E-mail</p>
          <input maxlength="256" formControlName="email" id="email" class="email" placeholder="Email">
          <dharma-input-check *ngIf="form.get('email').value && form.get('email').value.length > 4" [control]="form.get('email')"></dharma-input-check>
        </div>

        <!-- <div class="form-group">
          <p class="dark-gray">Senha</p>
          <dharma-input-password class="input-password" [control]="form.get('password')"></dharma-input-password>
        </div>

        <div class="form-group">
          <p class="dark-gray">Confirmar Senha</p>
          <dharma-input-password class="input-password" [control]="form.get('repeatPassword')"></dharma-input-password>
        </div>

        <div *ngIf="showPasswordError" class="alert alert-danger" role="alert">
          A senha não confere
        </div> -->
      </div>

      <dharma-validator *ngIf="formSubmitted && form.status === 'INVALID'" 
        [form]="form" 
        class="danger">
      </dharma-validator>

      <button [disabled]="!isPasswordConfirmed && form.status === 'INVALID'" type="submit" class="btn btn-primary submit-button">Continuar</button>
    </div>
  </div>
</form>