@import './../../../../shared/styles/colors';
@import './../../../../shared/styles/fonts';

.logo {
  width: 120px;
  margin-top: 40px;
}

.input-password {
  margin-top: -20px;
}

.access-account-text {
  padding-top: 30px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.form-group {
  margin-top: 30px;
}

.submit-button {
  margin-top: 20px;
  padding: 5px 30px 5px 30px;
}

.cpf-validation {
  text-align: left;
}

.light-gray {
  text-align: left;
  font-size: 1.2em;
  color: #b6baaf;
  letter-spacing: 1px;
  letter-spacing: 0.3px;
  font-family: "Hurme Bold", Arial, Helvetica, sans-serif;
  margin-bottom: 10px;
  font-weight: bold;
}

.dark-gray {
  font-size: 1.2em;
  line-height: 1.5em;
  color: #7e8282;
  max-width: 300px;
  letter-spacing: 0.3px;
  text-align: left;
}

p {
  margin-left: 125px;
}

@media (max-width: 500px) {
  p {
    margin-left: 78px !important;
  }

  .access-account-text {
    width: 60% !important;
  }
}

@media (max-width: 400px) {
  input {
    margin-left: -22px !important;
  }

  .title {
    margin: auto;
  }

  p {
    margin-left: 90px !important;
  }

  span {
    margin-left: 60px !important;
  }
}

@media (max-width: 375px) { 
  .access-account-text {
    width: 66% !important;
  }

  input {
    margin-left: -22px !important;
  }

  .title {
    margin: auto;
  }

  p {
    margin-left: 61px !important;
  }

  span {
    margin-left: 60px !important;
  }
}


@media (max-width: 320px) { 
  .access-account-text {
    width: 66% !important;
  }

  input {
    margin-left: -22px !important;
  }

  .title {
    margin: auto;
  }

  p {
    margin-left: 50px !important;
  }

  span {
    margin-left: 60px !important;
  }
}

::ng-deep {

  ul {
    padding-right: 45px !important;
  }


  .password {
    margin-top: -20px !important;
  }

  .input-group {
    width: 60%;
    height: 35px;
    margin-left: 20%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #7e8282;
    margin-top: 20px;
    outline: none !important;
    box-shadow: none !important;
  }

  @media (max-width: 500px) {
    .input-group {
      margin-left: 18%;
    }
  }

  .input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }

  .input-group-btn {
    margin-top: -10px;
    outline: none !important;
    box-shadow: none !important;
  }
  
  .btn {
    outline: none !important;
    box-shadow: none !important;
    text-decoration: none !important;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 16px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 16px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 16px;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 16px;
  }
}