<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-sm-12">
      <p class="orange bold lg-font access-account-text title">Esqueci minha senha</p>

      <p class="gray bold md-font access-account-text sub-title">Olá informe alguns dados para recuperar sua senha.</p>

      <div class="form-group text-center">
        <input formControlName="identifier" [validation]="false" [mask]="inputMask" class="cpf-input"
          placeholder="Informe o seu CPF/CNPJ" id="document-input">
      </div>

      <dharma-validator *ngIf="formSubmitted && form.status === 'INVALID'" 
        [form]="form" 
        class="danger">
      </dharma-validator>

      <button id="submit-button" type="submit" class="btn btn-primary submit-button">Recuperar senha</button>

      <div style="margin-top: 40px;">
        <p>
        Caso tenha alguma dúvida ou problema, entre em contato com a nossa <a [href]="helpDeskUri">central de atendimento</a>.
        </p>
      </div>
    </div>
  </div>
</form>