.row {
   padding-top: 90px;
   padding: 22px;
}
.box-container {
   margin-top: 200px;
   min-width: 700px;
   margin: 0 auto;
   padding: 20px 20px 40px 50px;
   border-radius: 61px 61px 61px 61px;
   -moz-border-radius: 61px 61px 61px 61px;
   -webkit-border-radius: 61px 61px 61px 61px;
   border: 1px solid #b6baaf;
}

p {
   font-family: 'Hurme Bold';
}

.title {
   font-size: 45px;
   font-family: 'Hurme Bold';
}

.sub-title {
   font-family: 'Hurme';
   font-size: 20px;
   text-align: center;
}

@media (max-width: 500px) {
   .box-container {
       max-width: unset !important;
       min-width: unset !important;
       width: 100% !important;
       margin: unset !important;
       padding: 6px 0px 40px 0px !important;
   }

   .cpf-input {
      width: 100% !important;
   }
}

::ng-deep {
   .container {
       padding: unset !important;
   }
}

.logo {
   width: 120px;
   margin-top: 40px;
}

.access-account-text {
   margin-top: 20px;
}

.cpf-input {
   width: 60%;
   height: 35px;
   font-size: 16px;
   border-top: none;
   border-left: none;
   border-right: none;
   text-align: center;
   border-bottom: 1px solid #7e8282;
   margin-top: 20px;
}

textarea:focus, input:focus{
   outline: none;
}

.submit-button {
   margin-top: 20px;
   height: 64px !important;
   padding: 5px 40px;
}