.row {
    padding-top: 90px;
    padding: 22px;
 }
 .box-container {
    margin-top: 200px;
    min-width: 700px;
    margin: 0 auto;
    padding: 20px 20px 40px 50px;
 }
 
 @media (max-width: 500px) {
    .box-container {
        max-width: unset !important;
        min-width: unset !important;
        width: 100% !important;
        margin: unset !important;
        border: none !important;
        padding: 6px 0px 40px 0px !important;
    }
 }
 
 ::ng-deep {
    .container {
        padding: unset !important;
    }
 }
 
 .logo {
    width: 120px;
    margin-top: 40px;
 }
 
 .access-account-text {
    margin-top: 20px;
 }
 
 .cpf-input {
    width: 60%;
    height: 35px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #7e8282;
    margin-top: 20px;
 }
 
 textarea:focus, input:focus{
    outline: none;
 }
 
 .submit-button {
    background-color: #f7941d;
    color: white;
    font-size: 1.3em;
    border: none;
    padding: 5px 40px;
    border-radius: 118px 118px 118px 118px;
    -moz-border-radius: 118px 118px 118px 118px;
    -webkit-border-radius: 118px 118px 118px 118px;
    border: 0px solid #000000;
 }