<div *ngIf="!isFinishedonboarding">
  <header class="container-full onboading-main-header">
    <div class="container">
      <img src="assets/images/text-cadastro.png" class="img-cadastro" alt="">
      <img src="assets/images/text-conta-dotz.png" class="img-conta-dotz" alt="">
    </div>
  </header>
  <app-time-line></app-time-line>

</div>
<!-- <div class="row">
  <div class="box-container"> -->
<dharma-ui-alert-summary></dharma-ui-alert-summary>
<ng-template #estadoAtual></ng-template>
<!-- </div>
</div> -->
