div {
    text-align: center;
    color: #656868;
    font-size: 1.1em;
}

.orange {
    color: #f7941d !important;
    font-size: 24px;
    font-weight: bold;
}

.father {
    padding: 50px 50px 50px 50px;
}

.strong {
    font-weight: bold;
}

.text {
    margin-top: 20px;
}
