<div class="father">
  <p class="main-text orange">
    Sua conta está temporariamente bloqueada
  </p>
  
  <p>Tente novamente em alguns instantes ou entre em contato a nossa central de atendimento no canal abaixo:</p>
  
  <div style="margin-top: 40px;">
    <p>
    Caso tenha alguma dúvida ou problema, entre em contato com a nossa central de atendimento.<br/>
    </p>
    <a [href]="helpDeskUri">
      <button id="unlock-account-btn" type="button" class="btn btn-primary submit-button unlock-account-btn">Central de Atendimento</button>
    </a>
  </div>
</div>
